@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'M PLUS 2', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-size : 4em;
    padding: 0;
    margin: 0;
}

.landing_main_content {
    margin: 0 0 0 11.5vw;
    padding: 70px 0;
    width: 100vw;
    align-items: center;
    overflow: hidden;
}

.full_section {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-y: hidden;
}

.section_two_column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    width: 100vw;
}

.left_column_content {
    max-width: 20vw;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right_column_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 42.5vw;
    padding-right: 15vw; 
    padding-left: 7.5vw;
    overflow: hidden;
}

.arrow_section_up {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 170px;
}

.arrow_section_down {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 170px;
}

/**
* About Me Containers
**/

.profileImage {
    border-radius: 50%;
    border: 3px white solid;
    width: 250px;
    height: 250px;
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;
}

.collage_container {
    display: flex;
    width: 42.5vw;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
}

.collage_image {
    padding-top: 20px;
    max-width: 1700px;
    max-height: 1080px;
}

/** 
* Skills Section
**/

.skills_section_large {
    display: grid;
    grid-template-columns: repeat(auto-fit, 80px);
    max-width: 45vw;
    min-width: 45vw;
    justify-content: center;
    row-gap: 40px;
    column-gap: 90px;
}

.skills_section_large .skill_icon {
    font-size: 80px;
}

.skill_icon {
    color: black;
}

.skill_component {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
}

.skill_component p {
    color: black;
    font-size: 0.75em;
}

.skill_component h3 {
    color: black;
    font-size: 1.5em;
}

/**
* CSS for Projects (Mainly Carousel)
**/

.project_right_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 55vw;
    padding-right: 5vw;
    overflow: hidden;
}

.carousel_slide {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    overflow: hidden;
    height: 80vh;
    width: 35vw;
    justify-content: space-between;
} 

.slide_image {
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 20px 0;
}

.carousel_slide h1 {
    color: #1DB954;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
}

.carousel_slide p {
    color: black;
    margin: 10px 0;
    overflow: hidden;
    text-align: justify;
    text-justify: inter-word;
}

.carousel_slide li {
    display: list-item;
    list-style-type: circle;
    margin-top: 8px;
    color: black;
    overflow: hidden;
}

.carousel_slide ul {
    overflow: hidden;
}

.carousel_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.carousel_slider {
    width: 45vw;
    height: 80vh;
    background-color: transparent;
    overflow: hidden;
}

.carousel_wrapper {
    display: flex;
    flex-direction: row;
}

.carousel_dotgroup {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    color: black;
}

.carousel__dot {
    height: 15px;
    width: 15px;
    margin: 3px;
    border-radius: 50%;
    border: 1px solid black;
}

.carousel__dot--selected {
    background-color: #1DB954;
}

.button_back {
    margin-right: 20px;
    margin-bottom: 5vh;
    background-color: transparent;
    opacity: 1;
    border: 0;
}

.button_next {
    margin-left: 20px;
    margin-bottom: 5vh;
    background-color: transparent;
    opacity: 1;
    border: 0;
}

/** 
* CSS for the footer component (Footer.JS)
**/

.footer_bar {
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1DB954;
}

.footer_content_left {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: left;
    overflow: hidden;
}

.footer_link {
    margin: 0 30px;
    display: inline-flex;
    overflow: hidden;
}

.footer_content_right {
    height: 100%;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5vw;
    overflow: hidden;
}

.footer_icon {
    margin: 0 5px;
    vertical-align: middle;
}

/**
* Spotify CSS
**/

.spotify_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 80vh;
}

.spotify_button {
    border-width: 2px;
    padding: 5px;
    align-self: center;
    width: 100px;
    border-color: white;
    background-color: transparent;
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin-top: 30px;
}

/**
* CSS for the Scrollbar
**/

::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-thumb {
    background-color: white;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bbbbbb;
}

::-webkit-scrollbar-track {
    background-color: black;
}

.particle_background  {
	position: absolute;
    opacity: 1;
    z-index: -1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.7s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
