@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2&display=swap');

* {
    font-family: 'M PLUS 2', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1 {
    font-size : 4em;
}

.full_section {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.section_main_content {
    margin: 0 0 0 10vw;
    padding: 70px 0;
    width: 100vw;
    overflow: hidden;
}


/** 
* CSS for the footer component (Footer.JS)
**/

.footer_bar {
    margin: 0 0;
    width: 100vw;
    height: 60px;
    display: flex;
}

.footer_content_left {
    padding: 15px 30px;
    /* position: absolute; */
    left: 0;
    display: flexbox;
    overflow: hidden;
}

.footer_link {
    padding: 0 30px;
    position: relative;
    display: inline-flex;
    overflow: hidden;
}

.footer_content_right {
    margin: 15px 0;
    font-size: 1.1em;
    position: absolute;
    right: 50px;
    display: flexbox;
    overflow: hidden;
}

.footer_icon {
    margin: 0 5px;
    vertical-align: middle;
    /* position: relative; */
}
