@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2&display=swap');

* {
    font-family: 'M PLUS 2', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1 {
    font-size : 4em;
}

.full_section {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.section_main_content {
    margin: 0 0 0 15vw;
    padding: 70px 0;
    width: 100vw;
    align-items: center;
    overflow: hidden;
}

.main_background_left {
    margin: 0;
    width: 40vw;
    height: auto;
    align-items: center;
    vertical-align: middle;
    overflow: hidden;
}

.main__background_right {
    width: 60vw;
    height: 100vh;
    align-items: center;
    vertical-align: middle;
    overflow: hidden
}

.left_column_content {
    margin-top: 10px;
    margin-left: 10vw;
    width: 20vw;
    overflow: hidden;
}

.right_column_content {
    margin-left: 10vw;
    margin-right: 10vw;
    width: 40vw;
    padding: 10vh 0;
    overflow: hidden;
}

/**
* About Me Containers
**/

.profileImage {
    margin-left: 11vw;
    border-radius: 50%;
    border: 3px white solid;
    width: 250px;
    height: 250px;
    position: relative;
}

.image_column {
    flex: 25%;
    overflow: hidden;
}

.collage_image {
    width: 140px;
    height: 140px;
    overflow: hidden;
}

/** 
* Skills Section
**/




/** 
* CSS for the footer component (Footer.JS)
**/

.footer_bar {
    margin: 0 0;
    width: 100vw;
    height: 60px;
    display: flex;
}

.footer_content_left {
    padding: 15px 30px;
    /* position: absolute; */
    left: 0;
    display: flexbox;
    overflow: hidden;
}

.footer_link {
    padding: 0 30px;
    position: relative;
    display: inline-flex;
    overflow: hidden;
}

.footer_content_right {
    margin: 15px 0;
    font-size: 1.1em;
    position: absolute;
    right: 50px;
    display: flexbox;
    overflow: hidden;
}

.footer_icon {
    margin: 0 5px;
    vertical-align: middle;
    /* position: relative; */
}

/**
* CSS for the Scrollbar
**/

::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-thumb {
    background-color: white;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bbbbbb;
}

::-webkit-scrollbar-track {
    background-color: black;
}